.cardsb{

    transition: all 0.1s ease;
    cursor: pointer;
  }
    
.cardsb:hover{

    /* box-shadow: 5px 6px 6px 2px #e9ecef; */
    transform: scale(1.1);
}
.manual-button {
  transition: background-color 0.5s ease, color 0.5s ease;
  background-color: #fff; /* Initial background color */
  color: #000; /* Initial text color */
}

.manual-button.selected {
  background-color: #007bff; /* Background color when selected */
  color: #fff; /* Text color when selected */
}

.authorx {
  display: flex;
  flex-direction: column;
}

.labelx {
  width: 200px; /* Adjust the width as needed */
  text-align: right;
  margin-right: 10px;
}

.css-w547bs {
    height: 350px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    background: #11cdef;
    color: #344767;
    border-radius: none;
    background-image: linear-gradient(310deg, rgba(17, 113, 239, 0.6), rgba(17, 205, 239, 0.6)),url(https://img.freepik.com/free-psd/interior-modern-emergency-room-with-empty-nurses-station-generative-ai_587448-2137.jpg?w=1060&t=st=1698863805~exp=1698864405~hmac=8b4678f9f856a28f37ff08709b8197bae61ac6fea6ff7f7c537858d3969e0257);
    background-position-y: 50%;
}

/* dashboard */
.dashborad-panel-style{
  margin-top: 125px;
}

/* dashboard cards */

.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_row {
  
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
}
.solution_cards_row .solution_card {
  flex: 0 50%;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

/* hoover colover */
.solution_cards_row .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}
/* hoover pop up  */
.solution_cards_row .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_row .solution_card:hover .solu_title h3,
.solution_cards_row .solution_card:hover .solu_description p {
  
  color: #fff;
}

.solution_cards_row .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_row .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_card .so_top_icon {
margin-left: 75px;
margin-top: 50px;
  
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
  text-align: center;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.our_solution_content p {
}

.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_row .solution_card:hover .hover_color_bubble {
  
  top: 0rem;
}

.solution_cards_row .solution_card .so_top_icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_row .solution_card .so_top_icon img {
  
  width: 40px;
  height: 90px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_row {
    flex: auto;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_row {
    flex: 1;
  }
}
@media only screen and (min-width: 1024px) {
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 50%;
    margin: 0 auto;
  }
/* newly added  */
  .solution_card a{
    text-decoration: none; /* Remove underline for anchor tags within .solution_card */
  color: inherit; 
  }
  
/* Add a new class for the row of cards */
.solution_cards_row {
  
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow cards to wrap to the next line if the screen is too narrow */
}

.solution_cards_row .solution_card {
  
  flex: 0 23%; /* Adjust the percentage to fit four cards in a row */
  margin: 8px;
  /* Other existing card styles here */
}

/* Media query to adjust the card size for smaller screens */
@media only screen and (max-width: 768px) {
  .solution_cards_row .solution_card {
    
    flex: 0 48%; /* Adjust the percentage to fit two cards in a row for smaller screens */
  }
}

/* Individual report styles */
.scanned-image{
  height: 30rem;
  width: 30rem;
}
.image-card-indi-report{
  margin-bottom: -90;
}

.button-bluex{
  background-color: #007bff;
}
}

